global
    log stdout format raw local0

defaults
    log     global
    mode    tcp
    timeout connect 5000
    timeout client  50000
    timeout server  50000

frontend https-in
    bind *:8000
    default_backend ha-stack

backend ha-stack
    # Connect to the VIP managed by Keepalived
    server loadbalancer 10.21.0.100:8000 check
